<!doctype html>
<html lang="en">
<div class="container-fluid">
  <button class="btn btn-primary" (click)="openModal()">Agregar Medicamento</button>

  <div class="card mb-4">
    <div class="card-header">
      <h4 class="card-title">Lista de Medicamentos</h4>
    </div>
    <div class="card-body">
      <table class="table table-stripped table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Código</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicamento of medicamentos">
            <td>{{ medicamento.nombre }}</td>
            <td>{{ medicamento.codigo }}</td>
            <td>{{ medicamento.precio | currency }}</td>
            <td>{{ medicamento.cantidad }}</td>
            <td>
              <!-- Botones para editar y eliminar -->
              <button (click)="openModal(medicamento)" class="btn btn-primary">Editar</button>
              <button (click)="deleteMedicamento(medicamento.id)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #medicamentoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{editMode ? 'Editar Medicamento': 'Agregar Medicamento' }}</h4>
      <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" [(ngModel)]="selectedMedicamento.nombre" name="nombre" required>
        </div>
        <div class="form-group">
          <label for="codigo">Código</label>
          <input type="text" id="codigo" [(ngModel)]="selectedMedicamento.codigo" name="codigo" required>
        </div>
        <div class="form-group">
          <label for="precio">Precio</label>
          <input type="number" id="precio" [(ngModel)]="selectedMedicamento.precio" name="precio" required>
        </div>
        <div class="form-group">
          <label for="cantidad">Cantidad</label>
          <input type="number" id="cantidad" [(ngModel)]="selectedMedicamento.cantidad" name="cantidad" required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">{{ editMode ? 'Actualizar' : 'Aceptar' }}</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Cancelar</button>
    </div>
  </ng-template>
</div>
</html>
  

