<div class="container mt-5">
    <h1>Bienvenido a la Aplicacion de Gestión de Medicamentos PharmaLogic</h1>
    <p class="lead">
        Esta aplicación está diseñada para ayudar a las farmacias y hospitales a gestionar eficientemente su inventario de medicamentos, 
        incluyendo el seguimiento de caducidades, el control de lotes, y la emisión de alertas cuando el stock está bajo.
    </p>
    <h2>¿Para qué sirve esta aplicación?</h2>
    <p>Con nuestra plaforma, puedes:</p>
        <ul>
            <li>Registrar y administrar medicamentos.</li>
            <li>Recibir notificaciones cuando el inventario de un medicamento es bajo.</li>
            <li>Gestionar las fechas de caducidad y lotes de cada medicamento.</li>
            <li>Visualizar el historial de movimientos de stock de los medicamentos.</li>
        </ul>

    <h2>contacto</h2>
    <p>Si tienes alguna duda o consulta, no dudes en contactarnos:</p>
    <ul>
        <li>Email: contacto&#64;medinventario.com </li>
        <li>Telefono: +57 3126740041</li>
    </ul>
</div>
